body.upload {
	background-color: #F1F3F4;

	#wpadminbar {
		display: none;
	}

	.upload-form {
		font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
		font-size: 16px;
		line-height: 24px;
		padding: 15px;
		margin: 0 auto 200px auto;
		max-width: 600px;

		a {
			color: #BC3A2E;
		}

		p {
			padding: 0;
		}

		input, textarea {
			font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
		}

		.acf-required {
			display: none;
		}

		.acf-field {
			background-color: #fff;
			border-bottom: 1px solid transparent;
		}

		.acf-form-submit {
			margin-top: 15px;
		}

		.acf-button {
			font-size: 16px;
		}
	}
}
