$breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1400px,
	nav: 840px
);

@mixin breakpoint($size) {
	@if map-has-key($breakpoints, $size) {
		@media (min-width: map-get($breakpoints, $size)) {
			@content;
		}
	} @else {
		@warn "Unfortunately, no value could be retrieved from `#{$size}`. "
		    + "Available breakpoints are: #{map-keys($breakpoints)}.";
	}
}
