$c-white:       #ffffff;
$c-raisin:      #140F16;
$c-red-oxide:   #601F20;
$c-blue-beetle: #00424E;
$c-eggplant:    #2D263D;
$c-asphalt:     #37363D;
$c-ladybug:     #BC3A2E;
$c-teal-duck:   #207F95;
$c-ironweed:    #662265;
$c-slate:       #ACACB5;
$c-faded-brick: #DF8870;
$c-robin-egg:   #74CAC4;
$c-lilac:       #B79AC8;
$c-river-fog:   #F1F3F4;
$c-monarch:     #F9A641;
$c-algae:       #B0A736;
$c-concrete:    #E0DDDA;
