.initiatives {
	color: $c-river-fog;
	background: url('../img/initiatives-bg.jpg');

	.container {
		padding-bottom: 2em;
	}
}

.initiatives__about {
	margin-bottom: 30px;

	@include breakpoint(full-nav) {
		float: left;
		width: 33.3%;
		padding-right: 30px;
		margin-bottom: 0;
	}
}

.initiatives__list {
	display: flex;
	flex-flow: row wrap;

	@include breakpoint(full-nav) {
		float: right;
		width: 66.6%;
	}

	.initiative {
		width: calc(50% - 5px);
		background-color: rgba(0, 0, 0, 0.2);
		margin-right: 10px;
		margin-bottom: 10px;
		transition: 0.2s background-color ease-out;

		&:nth-child(2n) {
			margin-right: 0;
		}

		@include breakpoint(full-nav) {
			width: calc(33% - 6.66px);

			&:nth-child(2n) {
				margin-right: 10px;
			}

			&:nth-child(3n) {
				margin-right: 0;
			}
		}

		&:hover {
			background-color: rgba(0, 0, 0, 0.5);
		}

		img {
			width: 100%;
			height: auto;
		}
	}
}
