$s-xs: 16px;
$s-sm: 20px;
$s-md: 28px;
$s-lg: 36px;
$s-xl: 48px;

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: $s-xs;
	line-height: 1.5;
	background: $c-river-fog;

	@include breakpoint(md) {
		font-size: $s-sm;
	}
}

.container {
	position: relative;
	max-width: 1040px;
	margin: 0 auto;
	padding: 0 15px;
}

h1, h2, h3, h4, h5 {
	font-family: $f-fira-sans;
	font-weight: bold;
}

h1 {
	font-size: $s-xl;
}
