$s-xs: 16px;
$s-sm: 20px;
$s-md: 28px;
$s-lg: 36px;
$s-xl: 48px;

body {
	font-family: $f-system;
	font-size: $s-xs;
	line-height: 1.5;
	background: $c-river-fog;

	@include breakpoint(md) {
		font-size: $s-sm;
	}
}

.container {
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

.visually-hidden {
	display: none;
}

.clear {
	clear: both;
}

h1, h2, h3, h4, h5 {
	font-family: $f-fira-sans;
	font-weight: bold;
	padding: 1em 0 0.5em 0;
}

h1 {
	padding: 0;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.4em;
}

h4 {
	font-size: 1.4em;
	font-weight: normal;
}

h5 {
	font-size: 1em;
	font-weight: bold;
}
