.block-editor .wp-block[data-type^="acf/"]::before {
	content: attr(data-title);
	position: absolute;
	top: -18px;
	left: 0;
	font: bold 12px sans-serif;
	text-transform: uppercase;
}

.block-editor .wp-block[data-type^="acf/"] {
	margin-top: 46px;
}
