.block-editor .wp-block[data-type^="acf/"]::before {
	content: attr(data-title);
	position: absolute;
	top: 8px;
	left: -220px;
	width: 200px;
	font: bold 12px sans-serif;
	text-transform: uppercase;
	text-align: right;
	color: #808080;
}

.testimonials-slider {
  .quote {
    overflow: hidden;
    border-bottom: 1px solid #d1d1d1;    
    blockquote {
      float: left;
      width: 60%;
      padding: 0 10px 0 0;
    }
    .profile {
      margin-left:65%;
      padding: 20px;
      img {
        width:100px;
        height: 100px;
      }
      strong, span {
        display: block;
      }
      span {
        font-size:12px;
      }
    }
  }
}

.story-project {
  h2 {
    margin-bottom: 0 !important;
  }
  .three-col, .four-col {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    .col {
      padding: 10px;
      .post__thumbnail {
        display: block;
        height: 200px;
        background-size: cover;     
        margin-bottom: 10px; 
        strong {
          display: none;
        }  
      }
      a {
        display: block;
        text-decoration: none;
      }
      h5 {
        line-height: normal;
        margin: 0;
      }
    }
  }
  
  .three-col {
    .col {
      width: 33.3333%
    }
  }
  
  .four-col {
    .col {
      width: 50%
    }
  }
  
}

@import 'features';
@import 'categories';
