.block-editor .wp-block[data-type^="acf/"]::before {
	content: attr(data-title);
	position: absolute;
	top: 8px;
	left: -220px;
	width: 200px;
	font: bold 12px sans-serif;
	text-transform: uppercase;
	text-align: right;
	color: #808080;
}

.testimonials-slider {
  .quote {
    overflow: hidden;
    border-bottom: 1px solid #d1d1d1;    
    blockquote {
      float: left;
      width: 60%;
      padding: 0 10px 0 0;
    }
    .profile {
      margin-left:65%;
      padding: 20px;
      img {
        width:100px;
        height: 100px;
      }
      strong, span {
        display: block;
      }
      span {
        font-size:12px;
      }
    }
  }
}

@import 'features';
@import 'categories';
