.header {
	background-image: url('../img/tiles.jpg');
	background-size: auto 240px;
	background-repeat: repeat-x;
	background-position: center;
	padding-bottom: 30px;
	
	.container {
  	min-height: 85px;
	}
	
	&:before {
		content:'';
		position: absolute;
		
	}

	.header__items {
		display: flex;
		justify-content: flex-start;
		transform: rotate(-2.5deg);
		position: absolute;
		top: 23px;

		.header__item {
			text-decoration: none;
			font-size: 0.8em;
			line-height: 1.2;
			color: $c-raisin;
			background: $c-river-fog;
			padding: 0.8em;
			margin-right: 10px;
			padding-left: 3.5em;

			&--wooc {
				background: $c-lilac url('../img/wooc-80.png') no-repeat 0.65em 0.65em;
				background-size: 2.5em auto;
			}

			&--sanctuary-tv {
				background: $c-lilac url('../img/sanctuary-tv-80.png') no-repeat 0.8em 0.6em;
				background-size: 2em auto;
			}

			&:hover {
				background-color: $c-river-fog;
			}

			h3 {
				font-size: 1.15em;
				padding: 0;
			}
		}
	}

	.search {
		display: flex;
		margin-top: 25px;
		background: $c-river-fog;
		position: absolute;
		right: 30px;
		top: 0;
		width: calc(100vw - 30px);

		@include breakpoint(full-nav) {
			width: 300px;
		}
	}

	.search-input {
		flex-grow: 2;
		padding: 10px 15px;
		font-family: $f-system;
		font-size: $s-xxs;
		border: none;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0;		

		&:focus {
			border: none;
			outline: none;
			box-shadow: none;
		}
	}

	.search-button {
		width: 45px;
		height: 45px;
		color: $c-river-fog;
		background: $c-ironweed url('../img/icon-search.png') no-repeat 8px 8px;
		background-size: 25px 25px;
		border: 2px solid $c-river-fog;
		border-radius: 8px;
		cursor: pointer;
		text-indent: -99999em;
	}


	position:relative;
	
	&:before {
  	display: block;
    content:'';
    background:rgba(0,0,0,.35);
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom:0;
	}  	  	

	
	// New Headings
	&.initiative {
  	background-image: url("../img/initiatives-bg.jpg");
  	position:relative;
  	padding-bottom: 40px;
  	background-repeat: no-repeat;
  	background-size: cover;
  	background-color: #333;
  	
  	&:before {
    	display: none;
  	}
	}
	
	h1 {
  	font-size: 2.0em;
  	padding-top:120px;
  	text-align: center;
  	color:#FFF;
	}
	
	.initiative-logo {
  	display: block;
  	margin: 20px auto 0;
	}
	
	
}