.logo {
	position: absolute;
	top: 0;
	left: 25px;
	max-width: 280px;
	z-index: 10;
	
	a {
  	display: block;
	}
	
	img {
		width: 100%;
		height: auto;
	}
	
	@media only screen and (max-width: 675px) {
    width:230px;
  }	
  
	@media only screen and (max-width: 450px) {
    left: 0;	
    width: 190px;
  }
  
}

.mobile {
  display: none;
}

.close-menu {
	display: none;
	position: fixed;
	right: 10px;
	top: 10px;
	cursor: pointer;
	z-index: 1000;
  width: 30px;
  height: 30px;
  background: url('../img/icon-close.svg') no-repeat center center;
  text-indent: -99999em;
}

.top-nav {
	position: relative;
	font-family: $f-fira-sans;
	font-weight: bold;
	text-transform: uppercase;
	color: $c-river-fog;
	background-color: $c-raisin;

	.nav-link-container {
		display: flex;
		margin-left: 280px;
		padding: 8px 0;
		justify-content: space-between;
	}

	.nav-links {
		display: flex;
		padding: 0 10px;
    a {
      display: block;
    }
    .active {
      a {
        position: relative;
        color:#B79AC8;
        background:transparent;
				&:after {
  				display: block;
  				content:'';
  				background: #B79AC8;
  				left: 12px;
  				right: 12px;
  				position: absolute;
  				bottom:2px;
  				height:3px;
				}
			}
    }
	}

	.nav-link--menu {
		display: none;
    padding-left: 32px !important;
		background-image: url('../img/icon-menu.svg');
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: top 50% left 10px;				
	}


	.nav-link {
		color: $c-river-fog;
		text-decoration: none;
    padding: 4px 12px;
    white-space: nowrap;
    
		&:hover {
			color: $c-river-fog;
			background-color: $c-teal-duck;
		}
  
	}
		
	
	@media only screen and (max-width: 860px) {
  	.nav-link--menu {
  		display: block;
  	}
  	
  	.mobile {
    	display: block;
  	}
  	
  	.nav-link-container {
    	justify-content: flex-end;
    	.icon {
      	display: block;
      	width: 40px;
      	text-indent: -9999em;
      	margin: 0 5px 0 0;
      	background-repeat: no-repeat;
      	background-position: center center;
      	background-color: transparent;
      	background-size:auto 28px;
      	border-radius: 5px;
      	position: relative;
      	
      	&.wooc {
        	background-image: url('../img/wooc-80-white.png');
      	}
      	&.tv {
        	background-image: url('../img/sanctuary-tv-80-white.png');
      	}
      	&.search {
        	background-image: url('../img/icon-search.png');
      	}
      	
      	span {
          position: absolute;
          text-indent: 0;
          left: 0;
          color: #FFF;
          font-size: 7px;
          bottom: -2px;
          text-align: center;
        	background:$c-teal-duck;
          padding: 0 1px 0 3px;
          border-radius: 2px;
          line-height: 11px;
          letter-spacing: 1.5px;        	
      	}
      	
      	&:hover {
        	background-color:$c-robin-egg;
      	}
    	}
  	}
  	
    .nav-links {
      position: fixed;
      z-index: 100;
      top: 0;
      left: 100vw;
      width: 100vw;
      height: 100vh;
      background: $c-raisin;
      transition: 0.3s left ease-out;
      padding: 50px 30px;
      display: block;
      
      .active {
        a:after {
          left: 0;
          right: 0;
          bottom: 0;
        }          
      }      
      
      .nav-link {
      	font-size: 30px;
      	padding: 6px;
      	border-bottom: 1px solid $c-lilac;
      }
      
    }
  }
  
	@media only screen and (max-width: 675px) {
  	.nav-link-container {  	
      margin-left:240px;
    }
  }
  
  @media only screen and (max-width: 550px) {
  	.nav-link-container {  	
      margin-left:200px;
      
      .nav-link--donate.desktop {
        display: none;
      }
    }
  }
  
  @media only screen and (max-width: 450px) {
    .container {
      padding: 0 10px;
    }
    
    .nav-links {
      padding:40px 20px;
      .nav-link {
        font-size:24px;
      }
    }
  }  
  
}


/* Show and Hide Mobile Navigation and Mobile Search
---------------------------------------------------- */
.show-mobile-menu {
  overflow: hidden;  
	.nav-links {
		left: 0;
	}

	.close-menu {
		display: block;
	}
}
