.logo {
	position: absolute;
	top: 0;
	left: 25px;
	width: 220px;
	max-width: 280px;
	z-index: 10;

	@include breakpoint(full-nav) {
		width: 33%;
	}

	img {
		width: 100%;
		height: auto;
	}
}

.top-nav {
	position: relative;
	font-family: $f-fira-sans;
	font-weight: bold;
	text-transform: uppercase;
	color: $c-river-fog;
	background-color: $c-raisin;

	.nav-link-container {
		display: flex;
		margin-left: 220px;
		padding: 7.5px 0;
		justify-content: flex-end;

		@include breakpoint(full-nav) {
			margin-left: calc(33% + 10px);
			padding: 10px 0;
		}

		@include breakpoint(flexible-logo) {
			margin-left: 280px;
		}

		@include breakpoint(sm) {
			justify-content: space-between;
		}
	}

	.nav-links {
		display: none;
	}

	@include breakpoint(full-nav) {
		.nav-links {
			display: flex;
			padding: 0 10px;
		}

		.nav-link--menu {
			display: none;
		}
	}

	.nav-link {
		color: $c-river-fog;
		text-decoration: none;
    padding: 4px 12px;
    white-space: nowrap;

		@include breakpoint(full-nav) {
			&:hover {
				color: $c-river-fog;
				background-color: $c-teal-duck;
			}
		}

		&--menu {
			padding-left: 15px;
			padding-right: 0;
		}

		&--donate {
			display: none;
			@include breakpoint(sm) {
				display: block;
			}
		}
	}
}

.mobile-menu {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 100vw;
	width: 100vw;
	height: 100vh;
	background: $c-raisin;
	transition: 0.3s left ease-out;
	padding: 15px 0;

	@include breakpoint(full-nav) {
		display: none;
	}

	.nav-links, .nav-link--donate {
		display: block;
	}

	.nav-links {
		display: flex;
		flex-direction: column;
		margin-top: 10px;
		border-top: 1px solid $c-lilac;
	}

	.nav-link {
		font-size: $s-lg;
		padding: 6px 0 4px 0;
		border-bottom: 1px solid $c-lilac;
	}

	.nav-link--donate {
		margin-top: 15px;
		padding-left: 15px;
		border-top: none;
	}
}

.close-menu {
	display: none;
	position: fixed;
	right: 0;
	top: 0;
	font-size: $s-lg;
	line-height: 15px;
	cursor: pointer;
	padding: 20px;
}

.show-mobile-menu {
	.mobile-menu {
		left: 0;
	}

	.close-menu {
		display: block;
	}
}
