#wooc {
  background:rgba(255,255,255,.6);
  padding: 20px;
  border: 3px solid rgba(0,0,0,.2);
  margin: 40px 0 0;
  
  .wooc {
    overflow: hidden;
    padding-bottom: 10px;
    img {
      width: 60px;
      display: block;
      margin: 0 30px 0 0;
      float: left;
    }
    
  }
  
  tbody {
    display: flex;
    tr {
      width: 25%;
      padding: 0 10px;
      box-sizing: border-box;
    }
  }
  
  .spin-time {
    display: block;
    font-size: 13px;  
  }
  .artist {
    display: block;
    font-size: 13px;
    color:$c-ladybug;
  }
  .song {
    font-size:14px;
    padding: 3px 0;
    display: block;
    line-height: normal;
  }
  
  .info {
    font-size: 12px;
  }
  
  .spin-text {
    padding:10px 0 0;
    .release {
      color:#666;
      &:before {
        color:#999;
      }
    }
  }
  
  h3 {
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  p {
    font-size: 16px;
  }
  
}