.initiatives {
	color: $c-river-fog;
	background: url('../img/initiatives-bg.jpg');
	font-size: 23px;
	h2 {
		padding-top:0;
	}
}

.initiatives__list {
	li {
		a {
			display: block;
			background-color: rgba(0, 66, 78, 0.5);
			&:hover {
				background-color: $c-blue-beetle;
			}
			img {
				width: 100%;
				height: auto;
				display: block;
			}
		}		
	}
}
