.events {
	h2 {
		color: $c-ladybug;
	}
}

.events__about {
	margin-bottom: 20px;

	@include breakpoint(full-nav) {
		float: left;
		width: 33.3%;
		padding-right: 30px;
		margin-bottom: 0;
	}
}

.events__list {
	@include breakpoint(full-nav) {
		float: right;
		width: 66.6%;
	}
}

.event {
	display: block;
	text-decoration: none;
	color: $c-ladybug;
	padding-bottom: 20px;

	h3 {
		text-decoration: underline;
		color: $c-ladybug;
		padding-top: 5px;
	}

	&:hover h3 {
		color: $c-raisin;
	}

	img {
		width: 100%;
		height: auto;
	}
	@include breakpoint(full-nav) {
		img {
			width: calc(66.67% - 5px);
			height: auto;
		}
	}

	.event__date {
		font-size: 0.8em;
		text-transform: uppercase;
	}
}
