@use '../global/colors' as *;

.posts {
	font-size:23px;
	h2 {
		color: $c-blue-beetle;
		padding-top:0;
	}

	&__list {
		margin-top: 20px;
	}


	&__item {
		display: block;
		text-decoration: none;
		color: $c-blue-beetle;
		padding-bottom: 20px;
		height: 100%;

		h5 {
			color: $c-blue-beetle;
			padding: 5px 5px 15px;
		}

		.post__thumbnail {
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			position: relative;
			display: block;
			border: 5px solid #FFF;
			overflow: hidden;
			box-shadow: 0 0 2px rgba(0,0,0,.2);
			margin-bottom: 10px;

			&:before {
				content:'';
				padding-top:60%;
				display: block;
			}

			&:after {
				position: absolute;
				top:0;
				left: 0;
				right: 0;
				bottom:0;
				background:rgba(0,0,0,.6);
				content:'';
				opacity: 0;
				visibility: hidden;
				transition: ease 0.3s all;
			}

			img {
				position: absolute;
				top:50%;
				left: 50%;
				width: 100%;
				transform: translate(-50%, -50%);
				transition: ease 0.6s all;
			}

			strong {
				position: absolute;
				top:50%;
				left: 0;
				width: 100%;
				padding: 0 5px;
				box-sizing: border-box;
				transform: translateY(0);
				text-align: center;
				font-size:20px;
				color:#FFF;
				z-index: 10;
				transition: ease 0.3s all;
				opacity: 0;
				visibility: hidden;
			}
		}

		&:hover {
			h5 {
				color: $c-raisin;
			}

			.post__thumbnail {
				&:after {
					opacity: 1;
					visibility: visible;
				}

				strong {
					transform: translateY(-50%);
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}


	&__date {
		font-size: .625em;
		line-height: normal;
		text-transform: uppercase;
		margin-bottom: 5px;
		padding: 0 5px;
		display: block;
		color:#999;
	}
}
