@use '../global/colors' as *;

#alert {
  background: $c-faded-brick;
  padding: 10px 0;
  display: block;
  color:#000;
  text-decoration: none;        
  
  &.link:hover {
    background:$c-ladybug;
    color:#FFF;
    text-decoration: none;
  }
  .container {
    display: block;
    text-align: center;
    p {
      display: inline;
      padding: 0 20px 0 0;
    }
  }
  
  .btn {
    padding: 5px 10px;
    font-size: 16px;
    background: rgba(0,0,0,.1);
    border: 1px solid rgba(0,0,0,.3);
    color: #000;
    letter-spacing: .5px;
  }
  
  &:hover {
    .btn {
      color:#FFF;
      background: rgba(0,0,0,.5);      
    }
  }
}