@use '../global/colors' as *;

#events {
  background:$c-eggplant;
  color:#FFF;

  h2 {
    color:$c-robin-egg;
  }

  p {
    a {
      color: $c-lilac;
      &:hover {
        color:$c-teal-duck;
      }
    }
  }

  .posts__item {
    background:#FFF;
    padding: 10px;
    h5 {
      color:$c-robin-egg;
      font-size: .8em;
      transition: ease 0.2s all;
    }
    .posts__date {
      font-size:.75em;
      font-weight: bold;
      letter-spacing: -.5px;
      color:$c-lilac;
      transition: ease 0.2s all;
    }
    .post__thumbnail {
      border: 1px solid #e1e1e1;
      box-shadow: none;
      margin: 5px 0 10px 0;
    }
    &:hover {
      h5 {
        color:$c-lilac;
      }
      .posts__date {
        color:#000;
      }
    }
  }
  
  @media only screen and (max-width: 675px) {
    .three-col {
      li {
        padding: 10px 0;
      }
    }  
  }
  
  
}

#stories {
  background:$c-concrete;
  h2 {
    color:$c-ladybug;
  }
  .intro {
    font-size:20px;
    a {
      color:$c-teal-duck;
      &:hover {
        color: $c-lilac;
      }

    }
    
    @media only screen and (max-width: 675px) {
      font-size:15px;
    }
    
  }
  .posts__item {
    h5 {
      color:$c-ladybug;
    }

    .post__thumbnail {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      &:before {
        padding-top:85%;
      }
      img {
        display: none;
      }
    }
    &:hover {
      h5 {
        color:$c-teal-duck;
      }
    }
  }
}
