.button {
	color: $c-raisin;
	background: $c-river-fog;
	padding: 6px 10px 4px 10px;
	border-radius: 4px;

	&:hover {
		color: $c-raisin;
		background: $c-lilac;
	}

	@include breakpoint(full-nav) {
		padding: 6px 15px 4px 15px;
	}
}
