/*=========== Single Post ================*/

#responsive_blog_single_post
{
	text-align: center;
	font-family:$font-roboto;

	.single_post_content
	{
		text-align:left;
	}
	.post-entry
	{
		border-bottom:1px solid $submenu-border;
	}
	.navigation
	{
		.previous
		{
			text-align:left;
			.fa-angle-left
			{
				background-color: $main-blue;
				width: 30px;
				height: 30px;
				text-align: center;
				border-radius: 100%;
				color: $white;
				
			}
			.prev_post_title
			{
				text-transform: uppercase;
				color: $black;
				font-size: 20px;
				
			}
			.previous_date:before
			{
				content:"\f073";
				font-family: fontAwesome;
				font-size: 13px;
				margin-left: 1em;
				margin-right: 0.5em;
				color: $black;
			}
			.previous_date
			{
				font-size: 13px;
				color: $black;
			}
		}
		.next
		{
			text-align:right;
			.fa-angle-right
			{
				background-color: $main-blue;
				width: 30px;
				height: 30px;
				text-align: center;
				border-radius: 100%;
				color: $white;
				
			}
			.next_post_title
			{
				text-transform: uppercase;
				color: $black;
				font-size: 20px;
				
			}
			.next_date:before
			{
				content:"\f073";
				font-family: fontAwesome;
				font-size: 13px;
				margin-left: 6em;
				margin-right: 0.5em;
				color: $black;
			}
			.next_date
			{
				font-size: 13px;
				color: $black;
			}
		}
	}
	.post-title
	{
		font-family:$font-roboto;
		text-transform:uppercase;
	}

	hr.single_post_title_after 
	{
		margin: 15px auto 30px auto;
		padding: 0;
		max-width: 130px;
		border: 0;
		border-top: solid 2px #2b677f;
		text-align: center;
		background: transparent;
	}
	.post-meta
	{
		padding-top:30px;
		font-size: inherit;
		color:$black;
		
		a
		{
			color:$black;
		}

		.author.vcard
		{
			margin-right: 1em;
			border-right: 1px solid $black;
			padding-right: 1em;

			a
			{
				text-transform: capitalize;
			}
			.author-gravtar
			{
				margin-right: 1em;
			}
		}
		.single_post_time
		{
			margin-right: 1em;
			
		}
		.comments-link
		{
			font-size:inherit;
		}
	}
	.single_post_featured_img_top
	{
		position:absolute;
		
		.fa
		{
			padding:25px;
			background:$black;
			color:$white;
		}
		.single_post_date_month
		{
			background:$main-blue;
			color:$white;
			padding:37px;
			position:absolute;
			top: 0;
			left: 4.5em;
			.single_post_date
			{
				font-size: 40px;
			}
			.single_post_month
			{
				text-transform: uppercase;
			}
		}
	}
}

@media all and (max-width:980px)
{

	//space above widgets to be reduced
	#content
	{
		margin-bottom: 0px;
	}
	#widgets
	{
		margin-top: 0;
	}

	#responsive_blog_single_post #content.col-620 .post-title:after
	{
		left:50%;
	}
	
}

// Comments
.comments-title
{
	clear:both;
	text-transform: uppercase;
}
.commentlist
{
	border:1px solid $submenu-border;
	padding: 1em;

	.avatar
	{
		border-radius: 100%;
	}
	.comment-author .fn
	{
		text-transform: capitalize;
		color:$link-hover;
		font-weight: 600;
		display: inline-block;
		padding-top: 10px;
	}
	.comment-content
	{
		display: inline-block;

		p
		{
			margin: 10px 0px;
		}
	}
	.comment-meta
	{
		margin-left: 50px;
		a
		{
			color:$black;
		}
	}
	.reply
	{
		margin-left: 1em;
		a
		{
			color:$link-hover;
		}
	}
	li.alt
	{
		background:transparent;
	}
	.children article
	{
		border:1px solid $submenu-border;
		padding: 1em;
	}
	.children
	{
		margin-top: 1em;
		padding-left: 2.3em;
		padding-right: 0px;
	}
}
#comment-error, #author-error, #email-error
{
	color: #990000;
}
#respond
{
    background: transparent;
    border: none;
	padding-right: 0;
	padding-left: 0;
	#reply-title
	{
	    text-transform: uppercase;
	}
}
#comments
{
	margin-top: 3em;
}

@media all and (max-width:768px)
{
	.commentlist .children
	{
		margin-left: 0px;
		padding-left: 0px;
	}
	.commentlist .comment-meta 
	{
    	margin-left: 0;
	}

	//post prev link and date
	#responsive_blog_single_post .single_post_featured_img_top .fa
	{
		padding: 10px;
		font-size: 3em;
	}
	#responsive_blog_single_post .single_post_featured_img_top .single_post_date_month
	{
		padding: 10px;
		left: 2.3em;
	}
	#responsive_blog_single_post .single_post_featured_img_top .single_post_date_month .single_post_date
	{
		font-size:inherit;
	}
}

// Breadcrumbs
.breadcrumb-list
{
	
	.breadcrumb
	{
		background:transparent;

		a
		{
			color:#969696;
		}
	}
	.chevron
	{
		margin-right: 1em;
	}
	.breadcrumb-current
	{
		color:#2b2b2b;
	}
}

//about author
.single_post_author
{
	text-align: left;

	.author_title
	{
		margin-bottom: 2em;
	}
	.single_post_author_row
	{
		border:1px solid grey;
		padding: 1em;
		margin-right:0;
		margin-left:0;
	}
	.avatar
	{
		border-radius: 100%;
	}
}

// Post meta for all
.post-meta
	{
		text-align: center;
		font-size: inherit;
		color:$black;
		
		a
		{
			color:$black;
		}

		.author.vcard
		{
			margin-right: 1em;
			border-right: 1px solid $black;
			padding-right: 1em;

			a
			{
				text-transform: capitalize;
			}
			.author-gravtar
			{
				margin-right: 1em;
			}
		}
		.single_post_time
		{
			margin-right: 1em;
			
		}
		.comments-link
		{
			font-size:inherit;
			border-left: 1px solid #000;
padding-left: 1em;
		}
	}

// Default template
#content
{
	.post-title
	{
		text-align:center;
	}
}

// categories, tags
.post-data
{
	text-align:left;
}

// author gravator all pages
.author-gravtar img 
{
    border-radius: 50%;
    border: solid 1px #cfcfcf;
    padding: 5px;
}
.responsive_blog_single_featured_img
{
	min-height:105px;
}
