/*============ Footer =================== */

#responsive_blog_footer
{
	background-color:$main-blue;
	font-family:$font-roboto;
	color:$white;
	
	a
	{
		color:$white;
	}
	a:hover
	{
		color:#163d4c;
	}

	.rss-icon, .yelp-icon, .vimeo-icon, .youtube-icon, .twitter-icon, .facebook-icon, .linkedin-icon, .rss-feed-icon, .instagram-icon, .pinterest-icon, .foursquare-icon, .googleplus-icon, .google-plus-icon, .stumbleupon-icon, .stumble-upon-icon
	{
		display: inline;
		margin: 1px;
		padding-left: 3px;
	}
	.social-icons
	{
		float:right;
		margin:0;
	}
	select
	{
		color:$mild-black;
	}
	#searchform
	{
		padding-top: 0px;
		margin-top: 0px;
	}
	#wp-calendar
	{
		margin-top:0;
	}

	.widget-wrapper
	{
		margin-top: 1em;

		.widget-title
		{
			
			text-transform: uppercase;
			font-size:20px;
			padding-bottom: 2.5em;
		}
		.widget-title:after
		{
			content: '';
			position: absolute;
			display: block;
			width: 70px;
			border: 1px solid $white;
			margin-top: 10px;
		}
		ul
		{
			list-style-type: none;
			padding-left: 0px;
			margin-right: 0;
		}
		li
		{
			border-bottom:1px solid #3b778f;
			padding-top:0.5em;
			padding-bottom:0.5em;
		}
		li.menu-item-has-children
		{
			border-bottom:none;
		}
		ul.social_media_widget
		{
			padding-left: 2em;
		}
		.fa
		{
			width: 20px;
			height: 20px;
			color: $main-blue;
			background: $white;
			border-radius: 2px;
			padding: 2px;
			text-align: center;
			position: absolute;
			left: 35px;
		}
		
	}
	// Newsletter widget
	.tnp-widget input.tnp-submit
	{
		width:auto;
		background:$main-blue;
		border:1px solid $white;
		border-radius:5px;
		color: $white;
		font-size: 16px;
		font-weight: normal;
		padding: 8px 25px;
		margin-top: 20px;
		text-transform: uppercase;
	}
	.tnp-widget input.tnp-submit:hover
	{
		background-color: $button-hover-color;
	}
	.tnp-widget form
	{
		margin-top:20px;
	}

	//Calendar
	#wp-calendar caption
	{
		color:$white;
	}
	#wp-calendar th, #wp-calendar td
	{
		padding:0.2em;
	}

}

// After footer area
.copyright
{
	color: grey;
	font-size: 12px;
	background: $black;	
	text-align: center;
	padding-bottom: 15px;
}
#responsive_blog_footer .copyright a,
#responsive_blog_footer .powered a
{
	color:grey;
}
.powered
{
color: grey;
font-size: 12px;
	text-align: center;
	padding: 15px;
	background: $black;
	float:none;
}
.responsive_blog_copyright,
.responsive_blog_footer_extra_icons
{
	padding-top:1em;
}

@media all and (max-width:980px)
{
	#responsive_blog_footer .copyright
	{
		float:none;
	}
}
//After footer area in small screens
@media all and (max-width:991px)
{
	.responsive_blog_footer_extra_menu
	{
		text-align:center;

		.footer-menu
		{
			margin-right: 0px;
		}
	}
	.responsive_blog_copyright
	{
		text-align:center;
	}
	#responsive_blog_footer .responsive_blog_footer_extra_icons
	{
		text-align: center;
		padding-bottom: 1em;

		.social-icons
		{
			float: none;
			padding-left: 0px;
		}
	}
}

// Back to top
#scroll-to-top
{
	cursor:pointer;
	height: auto;
	background: $main-blue;
	border-radius: 50%;
	position:fixed;
	right:35px;
	animation: mymove 5s infinite;
	animation-play-state: paused;
	width: 50px;
	height: 50px;
	margin-bottom: 3%;
	padding: 6px 9px;
	border: 2px solid #fff;
}
#scroll-to-top .glyphicon
{
	font-size: 30px;
	color: #fff;
}
@-webkit-keyframes mymove {
	0% { bottom: 0px; }
	100%   { bottom: 50px;}
}
@keyframes mymove {
	0% { bottom: 0px;}
	100%   { bottom: 50px;}
}

// Footer menu
.footer-menu
{
	.sub-menu
	{
		display:none;
	}
}
.responsive_blog_footer_menu_icons
{
	background:$black;
	
	//only footer menu
	.responsive_blog_footer_extra_menu
	{
		padding-top:1em;
	}
	.responsive_blog_footer_extra_menu + .responsive_blog_footer_extra_icons
	{
		padding-top:1em;
	}
}

// Colophon widget
#colophon-widget
{
	border: 1px dotted $white;
	margin-top: 1em;
}
.responsive_blog_colophon
{
	background:$black;
}
@media all and (max-width:980px)
{
	#colophon-widget .widget-wrapper
	{
		padding: 1em;
	}
}
@media all and (max-width:768px)
{
	.responsive_blog_colophon .row
	{
		margin-right: 0px;
		margin-left: 0px;
	}
}
