.block-editor .wp-block[data-type^="acf/"]::before {
	content: attr(data-title);
	position: absolute;
	top: 8px;
	left: -220px;
	width: 200px;
	font: bold 12px sans-serif;
	text-transform: uppercase;
	text-align: right;
	color: #808080;
}

@import 'features';
