/* ========================== Content =========================== */

@import url('https://fonts.googleapis.com/css?family=Unica+One');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Roboto');


@font-face
{
	font-family:FontAwesome;
	src:url(lib/fonts/fontawesome-webfont.eot?v=4.7.0);
	src:url(lib/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0) format("embedded-opentype"), url(lib/fonts/fontawesome-webfont.woff?v=4.7.0) format("woff"), url(lib/fonts/fontawesome-webfont.ttf?v=4.7.0) format("truetype"), url(.lib/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular) format("svg");
	font-weight:400;
	font-style:normal
}

/*@font-face 
{
  font-family: 'Unica One', cursive;
  src: url("lib/fonts/UnicaOne-Regular.ttf");
}*/

body
{
	overflow-x:hidden;
	font-family:$font-roboto;
	color:$mild-black;
	font-size:14px;
	word-wrap:break-word;
}
body.front-page.home
{
	font-family:$font-roboto;
}
a
{
	transition: all 0.5s ease;
	color:$mild-black;
}
a:hover
{
	color:$link-hover;
}
a:focus,
button.navbar-toggle:focus
{
	outline:thin dotted;
}
h3
{
	font-size:1.6em;
}
#wrapper
{
	margin-top:0;
	border:none;
}
.skip-container
{
padding:0;
}

.button, input[type='reset'], input[type='button'], input[type='submit']
{
	background:transparent;
	border:1px solid $main-blue;
	border-radius:5px;
	text-transform:uppercase;
	text-shadow: none;
}
.button:hover, input[type='reset']:hover, input[type='button']:hover, input[type='submit']:hover
{
	background:$main-blue;
	border:1px solid $main-blue;
	border-radius:5px;
	text-transform:uppercase;
	color:$white;
}
area, textarea, select, input[type="text"], input[type="password"], input[type="email"]
{
	box-shadow:none;
}

/*========================================================*/
.responsive-padding-none
{
	padding-right:0;
	padding-left:0;
}
blockquote ol:last-child, blockquote p:last-child, blockquote ul:last-child
{
	margin-bottom: inherit;
}
table th
{
	font-weight:bold;
}
/*=============== Buttons colors============================*/
.blue.button
{
	background:$white;
	color:$main-blue;
	text-shadow:none;
	border:1px solid $main-blue;
}
.blue.button:hover
{
	color:$white;
	background:$main-blue;
}
// red
a.red
{
	border:1px solid #cf4347;
	color:#cf4347;
	background: white;
	text-shadow: none;
}
a.red:hover
{
	color:$white;
	background:#cf4347;	
}
//orange
a.orange
{
	border:1px solid #eb6452;
	color:#eb6452;
	background: white;
	text-shadow: none;
}
a.orange:hover
{
	color:$white;
	background:#eb6452;	
}
//yellow
a.yellow
{
	border:1px solid #cac800;
	color:#cac800;
	background: white;
	text-shadow: none;
}
a.yellow:hover
{
	color:$white;
	background:#cac800;	
}
//green
a.green
{
	border:1px solid #36b167;
	color:#36b167;
	background: white;
	text-shadow: none;
}
a.green:hover
{
	color:$white;
	background:#36b167;	
}
//purple
a.purple
{
	border:1px solid #441e83;
	color:#441e83;
	background: white;
	text-shadow: none;
}
a.purple:hover
{
	color:$white;
	background:#441e83;	
}
//pink
a.pink
{
	border:1px solid #c91472;
	color:#c91472;
	background: white;
	text-shadow: none;
}
a.pink:hover
{
	color:$white;
	background:#c91472;	
}
//black
a.black
{
	border:1px solid #000;
	color:#000;
	background: white;
	text-shadow: none;
}
a.black:hover
{
	color:$white;
	background:#000;	
}
//olive
a.olive
{
	border:1px solid #315b1f;
	color:#315b1f;
	background: white;
	text-shadow: none;
}
a.olive:hover
{
	color:$white;
	background:#315b1f;	
}
//brick
a.brick
{
	border:1px solid #e57777;
	color:#e57777;
	background: white;
	text-shadow: none;
}
a.brick:hover
{
	color:$white;
	background:#e57777;
}
//gold
a.gold
{
	border:1px solid #8b6508;
	color:#8b6508;
	background: white;
	text-shadow: none;
}
a.gold:hover
{
	color:$white;
	background:#8b6508;
}
//brown
a.brown
{
	border:1px solid #8b4513;
	color:#8b4513;
	background: white;
	text-shadow: none;
}
a.brown:hover
{
	color:$white;
	background:#8b4513;
}
//silver
a.silver
{
	border:1px solid #c0c0c0;
	color:#c0c0c0;
	background: white;
	text-shadow: none;
}
a.silver:hover
{
	color:$white;
	background:#c0c0c0;
}
//gray
a.gray
{
	border:1px solid #adadad;
	color:#adadad;
	background: white;
	text-shadow: none;
}
a.gray:hover
{
	color:$white;
	background:#adadad;
}
