// Site Colors and fonts

$font-unica: 'Unica One', cursive;
$font-source-sans: 'Source Sans Pro', sans-serif;
$font-roboto: 'Roboto', sans-serif;

$main-blue: #2b677f;

$white:	#fff;
$black: #000;

$mild-black: #2b2b2b;
$submenu-border: #cfcfcf;
$button-hover-color: #184a5d;
$testimonial-about-author: #75b4cb;
$testimonial-border: #4d7584;

$widget-tag-cloud-color:#285768;
$widget-tag-cloud-hover-color:#163d4c;

$link-hover: #2a677e;
