/* Temporary 404
---------------------------------------------------------- */
.four0four {
  padding: 120px 0;
  box-sizing: border-box;
  h2 {
    color: $c-ladybug;
    font-size: 2.2em;
    padding: 0 0 0.5em 0
  }
}