body.page-template-eco-art-trail {
    background-color: $c-asphalt;
    color: $c-white;

    h1 {
        padding-bottom: 30px;
    }

    .content {
        width: 100%;
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
    }

    .wp-block-embed-youtube, .wp-block-embed-vimeo, .wp-block-embed-soundcloud {
        margin-bottom: 30px;
    }

    .eat-footer {
        color: mix($c-white, $c-asphalt, 0.5);
        font-size: $s-xs;
        margin-top: 30px;

        a {
            color: $c-white;
        }
    }
}