/* Post -- Move to New CSS
---------------------------------------------------------- */
// YouTube, Vimeo, and SoundCloud
.wp-block-embed-youtube,
.wp-block-embed-vimeo,
.wp-block-embed-soundcloud {
	margin-bottom:60px;
	.wp-block-embed__wrapper {
  	position: relative;
  	padding:56.25% 0 0 0;
  	iframe {
    	position: absolute;
    	top:0;
    	left: 0;
    	width: 100%;
    	height: 100%;
  	}
	}
}

.soundcloud-podcast {
  margin: 20px 0;
  line-height: 20px;

  &__player {
    width: 100%;
  }

  audio::-webkit-media-controls-panel {
    background: $c-concrete;
  }

  &__link {
    color: $c-slate;
    font-size: 0.7em;

    &:hover {
      color: $c-raisin;
    }
  }
}

#content {
  overflow-x: hidden;
}

.single {
  ul {
    list-style: disc;
    padding: 0 0 20px 30px;
    li {
      padding: 0 0 15px;
    }
  }

  ol {
    list-style: decimal;
  }

  .wp-block-image figcaption {
    font-size: 13px;
    color: #999;
  }
}

.story {
  background:#FFF;
}

.post--single {
  display: flex;
  flex-wrap: wrap;
  
  &.people {
    main {
      width: 100%;
      .mainPhoto {
        float: right;
        margin: 0 0 10px 20px;
        width: 30%;
      }
      .copy {
        width: calc(70% - 20px);
      }
    }
  }
  
  main {
    width: calc(70% - 20px);
    margin-right:20px;
    box-sizing: border-box;
    font-size:18px;
    h1 {
      font-size: 2em;
      padding-bottom: 15px;
    }
    .mainPhoto {
      float: left;
      margin-right: 20px;
      margin-top: 4px;
      margin-bottom: 10px;
      max-width: calc(50% - 10px);

      img {
        width: 100%;
        height: auto;
      }

      .photoCaption {
        color: #666;
        font-size: 14px;
        margin-top: 5px;
      }

      .photoCredit {
        color: #999;
        font-size: 14px;
        margin-top: 5px;
      }
    }
    .content {
      overflow: hidden;
    }
  }

  aside {
    width: calc(30% - 20px);
    margin-left:20px;
    background:$c-river-fog;
    position: relative;
    padding-left:30px;
    font-size: 16px;
    &:before {
      content: '';
      display: block;
      top:-40px;
      bottom:-40px;
      width: 100vw;
      position: absolute;
      left: 0;
      background:$c-river-fog;
      border-left: 1px solid rgba(0,0,0,.05);
      z-index: -1;
    }

    h4 {
      color:$c-ladybug;
      border-bottom: 1px solid rgba(0,0,0,.1);
      padding: 10px;
      margin-bottom: 20px;
    }

    ul {
      list-style: none;
      padding: 0;
      li {
        padding: 0;
      }
    }

    a {
      display: block;
      padding: 5px 10px;
      border-radius: 3px;
      font-family: "Fira Sans Condensed", sans-serif;
      color:$c-blue-beetle;
      font-size:17px;

      &:hover {
        background:#000;
        color:#FFF;
        text-decoration: none;
      }

    }

  }

	.social {
    font-size: 16px;
    color: #6B737B;
    padding: 0;
    display: flex;
    align-items: center;
    list-style: none !important;
    padding: 0 !important;

		li {
			padding:0 4px 0 0 !important;

			strong {
				display: block;
				position: relative;
				padding-right: 5px;
			}

			a {
				display: block;
				text-indent: -999999em;
        background-size: auto 18px;
        height: 32px;
        width: 32px;
				background-position: center center;
				background-repeat: no-repeat;
				background-color:#333;

				&.fb {background-image:url('../img/social/icon-facebook-white.svg'); background-color:#3b5998;}
				&.tw {background-image:url('../img/social/icon-twitter-white.svg'); background-color:#1da1f2;}
				&.ln {background-image:url('../img/social/icon-linkedin-white.svg'); background-color:#0077b5;}
				&.em {background-image:url('../img/social/icon-mail-white.svg'); background-color:#ea4335;}

				&:hover {
					opacity: .5;
				}
			}
		}
	}


  @media only screen and (max-width: 675px) {
    main {
      width: 100%;
      margin: 0;
      .mainPhoto {
        width: 100%;
        float: none;
      }
    }
    aside {
      width: 100%;
      margin: 0;
      padding: 30px 0;

      &:before {
        content: '';
        display: block;
        top: 0;
        bottom: -40px;
        width: auto;
        position: absolute;
        left: -20px;
        background: #F1F3F4;
        z-index: -1;
        right: -20px;
      }

      h4 {
        padding:10px 0;
      }
    }
  }




}
.date {
  padding-left:30px;
  font-size:16px;
  line-height: normal;
  display: inline-block;
  margin-bottom:10px;
  font-weight: normal;
  position: relative;
  color:$c-slate;

  &:before {
    display: block;
    content:'';
    width: 20px;
    height: 20px;
    background: url('../img/icon-clock.svg') no-repeat 0 0;
    background-size:20px;
    position: absolute;
    top:0;
    left:0;
    opacity: .3;
  }
}

.categories {
	margin-bottom: 10px;
	font-size: 16px;
	margin-bottom:20px;

	a {
		color: $c-blue-beetle;
	}
}

.tags {
	margin-bottom: 10px;
	font-size: 16px;
	margin-bottom:20px;

	a {
		color: $c-blue-beetle;
	}
}

.meta {
  display: flex;
  justify-content: space-between;
  margin:30px 0;
  border-top:1px solid #e1e1e1;
  padding-top:30px;
  p {
    padding: 0 20px 0 0;
    color:$c-red-oxide;
  }
}
