/* Tablet and Mobile -- 
Quick and Dirty for homepage. Will separate out after launch -- MJS
---------------------------------------------------------- */


/* Homepage Mobile
---------------------------------------------------------- */
@media only screen and (max-width: 860px) {
  .header {
    .header__items, .search {
      display: none;
    }
    .home.banner {
      padding-top:40px;
    }
    
    form.search {
      position: fixed;
      bottom: 0;
      left: 100vw;
      width: 100vw;
      top: auto;
      height: auto;
      background: $c-raisin;
      transition: 0.3s left ease-out;
      margin: 0;
      z-index: 100;
      padding: 20px 15px;
      box-sizing: border-box;
      display: block;
      
      .search-input {
        width: 100%;
        padding: 14px 50px 14px 15px; 
        height: 45px;       
      } 
      .search-button {
        position: absolute;
        right: 15px;
        top:20px      
      }     
    }
    
  }

  .four-col .col {
    width: 33.3333333%;
  }

}


@media only screen and (max-width: 675px) {
  
  body {
    font-size:16px;
  }
  
  .container {
    padding: 0 20px;
  }
  
  
  .btn, .wp-block-button .wp-block-button__link {
    font-size: 15px;
    border-width: 2px;
  }
  
  section.p60 {
    padding: 30px 0;
  }
  
  
  .two-col, .three-col, .four-col {
    margin: 0;
    .col {
       width: 100%; 
       padding: 0;
       &:last-child {
         padding: 20px 0 0;
       }
       &.desktop {
         display: none;
       }
    }
    &.initiatives__list {
      margin: 0 -5px;
      .col {
        width: 50%;
        padding: 5px;
      }
    }
  }
  
  .two-col {
    .col {
      width: 100% !important;
    }
  }
  
  
  
  
  h2 {
    font-size: 32px;
  }
  .intro {
    font-size: 16px;
  }
  
  h5 {
    font-size: 18px;
  }  
  
  .header{
    

    &.home {
      margin-top:0;

      .banner {
        flex-wrap: wrap;
        padding: 30px 0 0;
        &.showCallout {
          .about {
            width: 100%;
            padding: 0 0 20px; 
            text-align: center; 
            font-size:22px;        
          }
          .callout {
            width: 100%;
            padding: 15px;
            font-size: 14px;
            max-width: 400px;
            margin: 0 auto;
            h2 {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
  
  #newsletter {
    font-size: inherit;
  }
  
  #about {
    .initiatives {
      margin: 0 -20px; 
      padding: 30px 20px;
    }
    .w55 {
      padding: 0 0 20px;
    }
  }
  
  footer {
    .social {
      justify-content: center;
      li {
        width: 22%;
        a {
          width: auto;
        }
      }
    }
  }
}




/* Show and Hide Mobile Navigation and Mobile Search
---------------------------------------------------- */
.show-mobile-menu {
  overflow: hidden;  
	.header form.search {
		left:0;
	}
}